.container {
  margin: 50px auto;
  text-align: center;
  max-width: 600px;
  font-family: Arial;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #ffcc00;
  cursor: pointer;
}

button:hover {
  background-color: #ffdd33;
}

.blague-box {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fffbe6;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

